{:paths ["notebooks" "dev"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk {:mvn/version "0.11.603"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        meander/epsilon {:mvn/version "0.0.650"}
        metosin/malli {:git/url "https://github.com/metosin/malli.git"
                       :sha "470d45b1dc4e0adb7e66b8d81bb754a49348b4e3"}
        techascent/tech.ml.dataset {:mvn/version "6.103"}
        hato/hato {:mvn/version "0.9.0"}
        criterium/criterium {:mvn/version "0.4.6"}}}
